<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>D20 | Diviner</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="/bower_components/angular-material/angular-material.min.css" rel="stylesheet">
  <link href="/assets/app.css" rel="stylesheet">
  <!-- Library Dependencies -->
  <script src="/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <!-- NAVIGATION -->
  <md-toolbar class="md-primary" ng-controller="ToolbarController as vm">
	  <div class="md-toolbar-tools">
		  <!-- always show sidenav on large screens -->
		  <md-button class="md-icon-button" aria-label="Side navigation" ng-click="vm.toggleSidenav()" hide-gt-md>
			  <md-icon>menu</md-icon>
		  </md-button>
		  <h2>
			  <a href="/">
				  <span class="app-title">D20</span>
				  <span class="app-subtitle">Diviner</span>
			  </a>
		  </h2>
		  <span flex></span>
	  </div>
  </md-toolbar>

  <div layout-gt-md="row">
	  <!-- SIDENAV -->
	  <md-sidenav md-component-id="left" class="md-sidenav-left"  md-is-locked-open="$mdMedia('gt-md')">
		  <md-toolbar class="md-primary" hide-gt-md>
			  <h1 class="md-toolbar-tools">Menu</h1>
		  </md-toolbar>
		  <md-content flex ng-controller="SidenavController as navCtrl">
			  <md-list>
				  <md-list-item ng-repeat="setting in navCtrl.settings" ng-click="navCtrl.navigateTo(setting.url)">
					  <md-icon md-svg-icon="{{ setting.icon }}"></md-icon>
					  <p>{{ setting.name }}</p>
				  </md-list-item>
			  </md-list>
		  </md-content>
	  </md-sidenav>
	  <!-- MAIN CONTENT -->
	  <div ng-view flex></div>
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/bower_components/moment/moment.js"></script>

  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="app.controller.js"></script>
  <script src="core/core.module.js"></script>
  <script src="core/data.service.js"></script>
  
  <script src="view-home/home.route.js"></script>
  <script src="view-home/home.module.js"></script>
  <script src="view-home/home.controller.js"></script>
  
  <script src="view-RoW/RoW.route.js"></script>
  <script src="view-RoW/RoW.module.js"></script>
  <script src="view-RoW/RoW.controller.js"></script>

	<script src="view-character-sheet/character-sheet.route.js"></script>
	<script src="view-character-sheet/character-sheet.module.js"></script>
	<script src="view-character-sheet/character-sheet.controller.js"></script>


</body>
</html>
